@import "~plume-react/dist/style/theme-utilities";

$plm-font-directory: "~plume-react/dist/style/fonts";
@import "~plume-react/dist/style/theme-maif-dsi";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

header, main, footer {
  padding: 1rem 1rem;
  width: 100%;

  @media (min-width: map-get($grid-breakpoints, sm)) {
    padding: 1rem 2rem;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    padding: 1rem 4rem;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    padding: 1rem 8rem;
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    padding: 1rem 12rem;
  }
}

header {
  h1 {
    font-size: x-large;
    @media (min-width: map-get($grid-breakpoints, sm)) {
      font-size: xx-large;
    }
    @media (min-width: map-get($grid-breakpoints, md)) {
      font-size: xxx-large;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  font-size: small;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  @media (min-width: map-get($grid-breakpoints, sm)) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  @media (min-width: map-get($grid-breakpoints, xl)) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

a {
  color: clr(primary);
  @include active()
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;

  .product {
    width: 280px;

    .plm-media-card-media {
      font-size: x-large;
    }

    .plm-media-card-description {
      display: flex;
      flex-direction: column;
      gap: spc(m);

      .product-availability-months {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: spc(xs);
        width: 230px;
        margin: 0 auto;
      }

      .product-some-numbers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        &--highlighting {
          font-weight: bold;
        }

        &--local, &--co2 {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: spc(m);
        }

        &--local .local-interrogation-handler, &--co2 .co2-interrogation-handler{
          border-radius: 1000px;
          min-width: unset;
          height: calc(#{$fontSizeUnit} / 2 + #{spc(m)} * 2);
        }
      }
    }
  }
}

.products-actions {
  display: flex;
  justify-content: flex-end;
}

.product-form {
  &-numbers-fragments {
    display: flex;
    flex-direction: column;
    gap: spc(m);

    @media (min-width: map-get($grid-breakpoints, sm)) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: spc(m);
    }
  }
}
